section.banners
    .container
        .title
            h2.title__header Акции и специальные предложения
        .banners__list
            .banner.banner__1
                a.banner__1__img-box(href="#")
                    img.banner__1__img-box__picture(src = "./images/banner_1_kubometria.png" alt="picture")
                    img.banner__1__img-box__picture__label(src = "./images/banner_1_gift.png" alt="picture")
                article.banner__1__content-box
                    p.banner__1__content-box__name Предзаказ тетради «Кубометрия 3D»
                    .banner__1__timer-box
                        p.banner__1__timer-box__name Акция заканчивается 14 апреля. Через:
                        .banner__1__timer-box__timer 
                            .banner__1__timer-box__timer__field 
                                .banner__1__timer-box__timer__field__value#hours 1 2
                                    .banner__1__timer-box__timer__field__value__vertical-line
                                .banner__1__timer-box__timer__field__caption часов
                            .banner__1__timer-box__timer__field 
                                .banner__1__timer-box__timer__field__value#min 1 2
                                    .banner__1__timer-box__timer__field__value__vertical-line
                                .banner__1__timer-box__timer__field__caption минут
                            .banner__1__timer-box__timer__field                                                                                               
                                    .banner__1__timer-box__timer__field__value#sec 1 2   
                                        .banner__1__timer-box__timer__field__value__vertical-line                             
                                    .banner__1__timer-box__timer__field__caption секунд
                    .banner__proposal
                        .banner__proposal_price
                            .banner__proposal__price__new 9&nbsp;999&nbsp;&#8381;
                            .banner__proposal__price__old 9&nbsp;999&nbsp;&#8381;
                        p.banner__proposal__button ПОДРОБНЕЕ           

            .banner.banner__2
                a.banner__2__picture(href="#")
                    img(src="./images/banner_2_background.png")  
                    p.banner__proposal__button ПОДРОБНЕЕ  
            .timer#clockdiv  