@font-face {
  font-family: "proxima";
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-bold";
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "umnik-bold";
  src: url("../fonts/umnik-bold.woff2") format("woff");
  font-weight: bold;
  font-style: normal;
}